{% extends 'layout.html' %}

{% block content %}
  <h1>{{ title }}</h1>
  {% if genre_books.length > 0 %}
    <p><strong>Delete the following books before attempting to delete this genre:</strong></p>
    <h2>Books</h2>
    <br>
    {% for book in genre_books %}
      <a href="{{book.url}}">{{ book.title }}</a>
      <p id='summary'>{{ book.summary }}</p>
    {% endfor %}
  {% else %}
    <p>Are you sure you want to delete this genre?</p>
    <form method='post' action=''> 
      <div>
        <input
          type='hidden'
          name='id'
          required='true'
          value="{{genre.id}}"
        />
      </div>
      <button type='submit'>Delete Genre</button>
    </form>
  {% endif %}
{% endblock content %}